body {
    min-width: 800px;
    min-height: 100px;
}

.downloadState {
    word-wrap: break-word;
    display: inline-block;
    margin: 10px;
    padding: 10px;
}

.downloadStateDisplay {
    width: 100%;
}