html, body {
    width: 800px;
    height: 600px;
}

.searchInputContainer {
    margin-bottom: -5px;
    padding-right: 1% !important;
    /*position: relative;*/
}

.searchIcon {
    /*position: absolute;*/
    top: 15% !important;
    left: .5% !important;
}

.downloadStateCard {
    word-break: break-all;
    word-wrap: break-word;
    margin-left: 0;
    margin-right: 0;
    padding: 10px;
    width: 100%;
    position: relative;
}

.progress {
    height: 4px;
    border-radius: 2px;
    margin: .5rem 0 1rem 0;
    overflow: hidden;
}

.closeButton {
    position: absolute;
    top: 5px;
    right: 0;
}

/* Button hover animation */
button.md-icon-button.closeButton.md-button.md-ink-ripple:not([disabled]):hover {
    background-color: rgba(158, 158, 158, 0.2);
}

.numResults {
    position: fixed;
    bottom: 2%;
    right: 2%;
}

.dispNum {
    text-align: right;
}

/* Initial load animation, fade in effect */
.downloadsContainer {
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    transition:all ease 1s;
    opacity:1;
}

.downloadsContainer.ng-hide {
    opacity:0;
}

.fade {
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.fade.fadeout {
    opacity: 0.5;
}

.pauseLink, .unpauseLink, .cancelLink {
    margin: 0px;
}

.stateControlButtons {
    position: relative;
}

.cancelLink {
    position: absolute;
    left: -6px;
}

.pauseLink, .unpauseLink {
    position: absolute;
    left: 55px;
}

.md-button.md-small {
  width: 20px;
  height: 20px;
  line-height: 20px;
  min-width: 55px;
  min-height: 1%;
  vertical-align: top;
  font-size: 10px;
  padding: 0 0;
  margin: 0;
}

/* ng-repeat animation, ngAnimate + ngRepeat don't work well together unforuntaley
    animate causes lag in ngRepeat removing items from DOM.
 */

/*.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
  max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
  max-height:30px;
}*/