body {
    min-width: 800px;
    min-height: 100px;
}

.searchInputContainer {
    margin-bottom: -5px;
}

.downloadStateCard {
    word-wrap: break-word;
    display: inline-block;
    margin-left: 0;
    margin-right: 0;
    padding: 10px;
    width: 100%;
}

.downloadsContainer {
    padding-left: 10px;
    padding-right: 10px
}

.progress {
    height: 4px;
    border-radius: 2px;
    margin: .5rem 0 1rem 0;
    overflow: hidden;
}