<h3>
	<span ng-bind="downloadState.fileInfo.fileName"></span>
</h3>
<div ng-bind="downloadState.fileInfo.id"></div>
<div ng-bind="downloadState.fileInfo.url"></div>
<div>{{downloadState.fileInfo.dateTimeAdded | json}}</div>
<b>Progress:</b>
<div>
	<span ng-if="downloadState.trackingInfo.percent">
		{{downloadState.trackingInfo.percent}}%
	</span>
	<span ng-if="downloadState.trackingInfo.filesize">
		{{downloadState.trackingInfo.filesize}} bytes
	</span>
	<span ng-if="downloadState.trackingInfo.transferSpeed">
		{{downloadState.trackingInfo.transferSpeed}} Kb/s
	</span>
	<span ng-bind="downloadState.trackingInfo.eta"></span>
</div>