<h3>
	<span ng-bind="downloadState.fileInfo.fileName"></span>
</h3>
<div ng-bind="downloadState.fileInfo.id"></div>
<div ng-bind="downloadState.fileInfo.url"></div>
<div>{{downloadState.fileInfo.dateTimeAdded | json}}</div>
<b>Progress:</b>

<uib-progressbar class="progress-striped active" value="downloadState.trackingInfo.percent ? downloadState.trackingInfo.percent : 0" type="success">{{downloadState.trackingInfo.percent}}%</uib-progressbar>

<div>
<!-- 	<span ng-if="downloadState.trackingInfo.percent">
		{{downloadState.trackingInfo.percent}}%
	</span> -->
	<span ng-if="downloadState.trackingInfo.filesize"
				ng-bind="humanFileSize(downloadState.trackingInfo.filesize, true)">
	</span>
	<span ng-if="downloadState.trackingInfo.transferSpeed">
		{{downloadState.trackingInfo.transferSpeed}} Kb/s
	</span>
	<span ng-bind="downloadState.trackingInfo.eta"></span>
</div>