<md-card class="downloadStateCard"> 
	<md-button class="md-icon-button closeButton" ng-click="removeCard($event)" aria-label="remove download">
		<span id="close">&times;</span>
	</md-button>

	<md-card-title>
		<md-card-title-text>
			<span class="md-display-1" ng-bind="downloadState.fileInfo.fileName"></span>
		</md-card-title-text>
	</md-card-title>

	<md-card-content>
		<div ng-bind="downloadState.fileInfo.id"></div>
		<div ng-bind="downloadState.fileInfo.url"></div>
		<div>{{downloadState.fileInfo.dateTimeAdded | json}}</div>
		<b>Progress:</b>

		<md-progress-linear class="progress" md-mode="determinate" ng-value="downloadState.trackingInfo.percent ? downloadState.trackingInfo.percent : 0"></md-progress-linear>

		<div>
			<span ng-if="downloadState.trackingInfo.percent">
				{{downloadState.trackingInfo.percent}}%
			</span> 
			<span ng-if="downloadState.trackingInfo.filesize"
						ng-bind="humanFileSize(downloadState.trackingInfo.filesize, true)">
			</span>
			<span ng-if="downloadState.trackingInfo.transferSpeed">
				{{humanTransferSpeed(downloadState.trackingInfo.transferSpeed)}}/s
			</span>
			<span ng-bind="downloadState.trackingInfo.eta"></span>
		</div>
	</md-card-content>
</md-card>
